@page "/about"

<div class="row">
    <div class="col-5">
        <div class="main_message">
            <h3>
                О CELEB HILL
            </h3>
            <p>
                CELEB HILL - сеть театрально-концертных касс.
            </p>
            <p>
                Телефон: +375 29 123 45 67
            </p>
            <p>
                Email: tickets@celebhill.by
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="second_message">
            <h2>
                Форма обратной связи:
            </h2>
        </div>
    </div>
</div>

@code {

}
